/* Header */
/* Hero Section */
.hero-section {
    width: 100%;
    height: auto;
    /* padding-top: 66.67%; */

}

.hero-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 3/2;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mySwiper2 {
    width: 100%;
    height: 100%;
}


.mySwiper {
    width: 100%;
}

.mySwiper .swiper-slide {
    position: relative;
    opacity: 0.9;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity .3s ease;
}

.mySwiper .swiper-slide:hover {
    opacity: 1;
}


.mySwiper .swiper-slide img {
    aspect-ratio: 16/10;

    border-radius: 2px;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.mySwiper .swiper-slide.first-slide {
    display: none;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-pagination {
    bottom: 5px !important;
}

.swiper-pagination-bullet {
    background-color: var(--white-color) !important;
    border: 1px solid var(--white-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: transparent !important;
}

/* Hero Content */
.hero-content {
    /* position: absolute;
     */
    height: 95%;
    width: 95%;
    margin: auto;

}

.hero-content__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 1rem 1rem 1rem;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

/* Header */
.header .nav {
    width: 100%;
    height: 84px;
    line-height: 84px;
}

.header .nav-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0 4rem;
}

.header .nav-item {
    width: 20%;
}

.header .nav-link {
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--primary-font);
    display: block;
    font-size: 2rem;
    padding: 0;
}

.header .nav-link img {
    width: 150px;
    height: 150px;
}

/* Bubble */
.bubble-container {
    display: flex;
    margin: 2rem 0;
}

.bubble-left, .bubble-right {
    width: 50%;
}

.bubble {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 2rem;
}

.bubble-text {
    padding-left: 5rem;
    position: relative;
    top: -2rem;
    left: 1rem;
}

.bubble-text p {
    color: var(--white-color);
    font-size: 3rem;
    line-height: 6rem;
    margin: 0;
    font-family: var(--primary-font);
}

/* Booking Section */
.booking-section {
    background-color: var(--bg-color);
}

.booking {
    margin: 5rem auto;
    background-color: var(--primary-color);
    display: flex;
    min-height: 10rem;
    max-width: 62.5rem;
    border-radius: 30px;
}

.booking-btn-wrapper, .booking-info, .booking-search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-btn-wrapper {
    width: 20%;
}

.booking-info {
    width: 60%;
    display: flex;
}

.booking-search-wrapper {
    width: 20%;
}

/* Button */
.booking-btn, .search-btn {
    border-radius: 30px;
    max-width: 150px;
    font-size: 2rem;
    line-height: 2rem;
}

.search-btn {
    padding: 0.5rem 2rem;
}

/* Booking Info */
.booking-info {
    justify-content: space-between;
}

.booking-info__item {
    width: 30%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.booking-info__item .title {
    color: var(--white-color);
    font-size: 1.5rem;
    padding-bottom: .5rem;
    position: relative;
    width: 100%;
}

.booking-info__item .title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, .6);
}

.booking-info__item .info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-block {
    display: inline-block;
    width: 50px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--white-color);
    margin-right: 1rem;
    position: relative;
}

.white-block--with-hasher::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -0.5rem;
    bottom: 0;
    width: 1px;
    transform: rotate(15deg);
    background-color: rgba(255, 255, 255, .6);
}

.booking-info__item .info span {
    color: var(--white-color);
    font-size: 2rem;
    line-height: 2rem;
}

/* About section */
.about-section {
    background-color: #111;
    color: var(--white-color);
}

.about__img {
    height: 100%;
}

.about__info {
    margin-top: 2rem;
    height: 100%;
}

.about__info-heading {
    text-align: center;
}

.about__info-heading h3 {
    display: inline-block;
    margin: 0 auto;
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 500;
    position: relative;
}

.about__info-heading h3::after {
    content: "";
    position: absolute;
    left: 5%;
    bottom: -1rem;
    width: 90%;
    height: 2px;
    background-color: gray;
}

.about__info-items {
    margin-top: 3.5rem;
    max-height: 40rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.about__info-item:not(:nth-child(1)) {
    margin-top: 2rem;
}

.about__info-item img {
    /* width: 300px;
    height: 224px; */
}

.about__info-item h6, p {
    color: var(--white-color);
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
}

.about__info-item h6 {
    padding-left: 3rem;
}

.about__info-item p {
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding-left: 2.25rem;
}

.pl-58 {
    padding-left: 58px;
    padding-right: 0;
}

.about__info-items::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.about__info-items::-webkit-scrollbar-track {
    background-color: #555;

}

/* Handle */
.about__info-items::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    transition: all 0.4s ease-out;
}

/* Handle on hover */
.about__info-items::-webkit-scrollbar-thumb:hover {
    background-color: #d3d3d3;
}

/* Card section */
.card {
    background-color: var(--bg-color);
}

.card__heading {
    text-align: center;
}

.card__heading h2 {
    margin: 5rem 0;
    display: inline-block;
    position: relative;
}

.card__heading h2::after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: rgba(51, 51, 51, 0.5);
    bottom: -0.75rem;
    left: -20%;
    width: 140%;
}

.card__items {
    background-color: var(--primary-color);
}

.card__item {}

.card__item .img {
    height: 290px;
}

.card__item .info {
    max-height: 290px;
    background-color: var(--white-color);
    padding: 1rem 4rem;
}

.card__item .info h5 {
    color: var(--primary-color);
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    text-transform: uppercase;

}

.card__item .info p {
    color: var(--primary-color);
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
}

/* News section */
.news {
    background-color: var(--bg-color);
    padding: 5rem 0;
}

.news__heading {
    width: 100%;
    height: 100%;
    position: relative;

}

.news__heading h3 {
    position: absolute;
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
    top: 0;
    right: 0;
    transform: translate(30%, 6rem) rotate(90deg);
}

.news-item {
    display: inline-block;
    list-style-type: none;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 5rem;
    position: relative;
}

.news-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(17, 17, 17, 0.1);
}

.news-item *~* {
    margin-left: 1rem;
}

.contact {
    background: url(../img/contact.jpg) no-repeat center/cover;
    min-height: 650px;
}
.overlay {
    width: 90%;
    padding: 2rem;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.65);
}
.contact__header {

}
.contact__header h3 {
    text-align: center;
    color: var(--white-color);
    letter-spacing: 2px;
    font-size: 3rem;
    margin: 0;
}
.contact__header img {
    width: 150px;
    height: 150px;
}
.contact__info {
    padding: 2rem;
    border: 1px solid var(--white-color);
}
.contact__info p {
    text-align: center;
    line-height: 4rem;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;

}
/* Footer  */
.footer {
    background-color: #111;
    padding: 5rem;
}
.footer .logo img {
    width: 150px;
    height: 150px;
}
.footer h5 {
    color: var(--white-color);
    font-size: 2.5rem;
    font-weight: 500;

}
.footer h6 {
    display: flex;
    color: var(--white-color);
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
}
.footer h6::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .6);
}
.footer p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    opacity: 0.6;
}
.footer a {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1rem;
    line-height: 2rem;
    opacity: 0.6;
    transition: opacity .3s ease;
}
.footer a:hover {
    opacity: 1;
}
.social a {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 .5rem;
    opacity: 1!important;
}
.social img {
    width: 40px;
    height: 40px;
}
